<div class="container info">
    <div class="form-login">
        <h1 class="text-center">Sign Up | Login  </h1>
        <br>
        <div class="">
            <form>
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" autocomplete="off">
                    <div class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" autocomplete="off">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="d-grid gap-2 mx-auto">
                    <button type="submit" class="btn submit-button btn-lg">Login</button>
                </div>
                <br>
                <a href="">Forget password</a>
            </form>
        </div>

    </div>

</div>