.main-logo {
    display: flex;
    align-items: center;
    background-color: #FF6600;
    height: 70px;
    justify-content: center;
}

.main-menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF6600;
}

.main-menu__link {
    color: black;
    text-decoration: none;
}

.main-menu__item {
    padding: 1em;
    cursor: pointer;

}

img {
    max-width: 100%;
}

.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
}

.main-menu--show{
    transform: translateY(0);
}

@media (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
    .show-text{
        display: none;
    }
}

@media (min-width: 768px) {
    .main-nav {
        display: flex;
        text-align: center;
    }

    .main-menu {
        flex-direction: row;
        width: 15%;
        height: 70px;
        justify-content: center;
        background-color: transparent;
    
    }

    .main-menu-left {
        border-right: 35px solid transparent;
        border-top: 55px solid #FF6600;
        border-left: 0px solid #FF6600;

    }

    .main-menu-rigth {
        margin-left: auto;
        border-right: 0px solid #FF6600;
        border-top: 55px solid #FF6600;
        border-left: 35px solid transparent;
    }

    .main-menu__item {
        padding: 5px;
        margin-top: -65px;

    }

}






























.navbar-background {
    background-color: #FAFAFA;
}

.top {
    height: 70px;
    background: #FF6600;
    display: flex;
    justify-content: center;

}

.logoXL {
    max-width: 200px;
}

#parallelogram-container {
    display: flex;
}

.parallelogram {
    width: 15%;
    border-right: 35px solid transparent;
    border-top: 55px solid #FF6600;
    border-left: 0px solid #FF6600;
}

.parallelogram2 {
    width: 15%;
    display: flex;
    margin-left: auto;
    border-right: 0px solid #FF6600;
    border-top: 55px solid #FF6600;
    border-left: 35px solid transparent;

}

.nvabar-left {
    float: right;
    margin-top: -55px;
    flex-direction: column;
    align-items: center;

}

.nvabar-left a {
    padding: 10px;
    margin-left: 5px;

}

.nvabar-right {
    float: right;
    margin-top: -50px;
}

.nvabar-right a {
    padding: 5px;
    margin-left: 5px;

}