<div class="container iFormat">
    <h1 class="iTitle">Services</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="iws-card">
            <div class="iws-card-title">
                <h5 class="namePackages">I+</h5>
                <p class="iPrice">$400.00 /mo </p>
                <button type="submit" class="btn submit-button btn-lg">Buy Now</button>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="iws-card">
            <div class="iws-card-title">
                <h5 class="namePackages">IW+</h5>
                <p class="iPrice">$600.00 /mo</p>
                <button type="submit" class="btn submit-button btn-lg ">Buy Now</button>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="iws-card">
            <div class="iws-card-title">
                <h5 class="namePackages">IWS+</h5>
                <p class="iPrice">$800.00 /mo </p>
                <button type="submit" class="btn submit-button btn-lg">Buy Now</button>
            </div>
            
          </div>
        </div>
      </div>
</div>